/tailscale-cs
/work_area*
composer.*
/Python*
*.output
/Modgest
/thanos
/vendor
/bkdir
java/
*.exe
*.msi
*.pyc
*.msp
*.msx
msx.py
servidor_minecraft/world/level.dat
servidor_minecraft/world/level.dat_old
servidor_minecraft/world/DIM-1/data/raids.dat
servidor_minecraft/world/DIM1/data/raids_end.dat
servidor_minecraft/world/advancements/2c55c611-589d-3eae-ae15-6d5a1aa9b2ba.json
servidor_minecraft/world/data/raids.dat
servidor_minecraft/world/data/random_sequences.dat
servidor_minecraft/world/entities/r.-1.-6.mca
servidor_minecraft/world/entities/r.-1.-7.mca
servidor_minecraft/world/entities/r.0.-6.mca
servidor_minecraft/world/entities/r.0.-7.mca
servidor_minecraft/world/entities/r.1.-7.mca
servidor_minecraft/world/entities/r.1.-8.mca
servidor_minecraft/world/entities/r.2.-6.mca
servidor_minecraft/world/entities/r.2.-7.mca
servidor_minecraft/world/entities/r.2.-8.mca
servidor_minecraft/world/playerdata/2c55c611-589d-3eae-ae15-6d5a1aa9b2ba.dat
servidor_minecraft/world/playerdata/2c55c611-589d-3eae-ae15-6d5a1aa9b2ba.dat_old
servidor_minecraft/world/playerdata/8ee55147-1e45-3b94-88b3-e892d49e9186.dat
servidor_minecraft/world/playerdata/8ee55147-1e45-3b94-88b3-e892d49e9186.dat_old
servidor_minecraft/world/poi/r.-1.-6.mca
servidor_minecraft/world/poi/r.0.-6.mca
servidor_minecraft/world/poi/r.0.-7.mca
servidor_minecraft/world/poi/r.1.-7.mca
servidor_minecraft/world/poi/r.2.-6.mca
servidor_minecraft/world/poi/r.2.-7.mca
servidor_minecraft/world/poi/r.2.-8.mca
servidor_minecraft/world/region/r.-1.-6.mca
servidor_minecraft/world/region/r.-1.-7.mca
servidor_minecraft/world/region/r.0.-6.mca
servidor_minecraft/world/region/r.0.-7.mca
servidor_minecraft/world/region/r.1.-6.mca
servidor_minecraft/world/region/r.1.-7.mca
servidor_minecraft/world/region/r.1.-8.mca
servidor_minecraft/world/region/r.2.-6.mca
servidor_minecraft/world/region/r.2.-7.mca
servidor_minecraft/world/region/r.2.-8.mca
servidor_minecraft/world/stats/2c55c611-589d-3eae-ae15-6d5a1aa9b2ba.json
servidor_minecraft/world/stats/8ee55147-1e45-3b94-88b3-e892d49e9186.json
